
<ngb-carousel>
    <ng-template *ngFor="let pantalla of pantallas" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img-pantalla" src="{{pantalla.img}}" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1>{{pantalla.titulo}}</h1>
        <p>{{pantalla.desc}}</p>
      </div>
    </ng-template>
</ngb-carousel>

<!--
<ngb-carousel>
  <ng-template *ngFor="let servicio of servicios" ngbSlide>
    
  </ng-template>
</ngb-carousel>
-->


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">YoReparo</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"> Facebook </a></li>
          <li><a class="grey-text text-lighten-3" href="#!"> twitter </a></li>
          <li><a class="grey-text text-lighten-3" href="#!"> Instagram </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Copyright
    <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>