<div class="cotizacion">
    
  <form>

    <div class="form-group">
      <label for="controlSelectService">Servicio</label>
      <select class="form-control" id="controlSelectService">
        <option *ngFor="let servicio of servicios" [value]="servicio.id">
          {{servicio.nombre}}
        </option>
      </select>
      <small id="serviceHelp" class="form-text text-muted">Seleccione un servicio.</small>
    </div>
  
    <div class="form-group">
      <label for="inputTitle">Titulo de la solicitud</label>
      <input type="email" class="form-control" id="inputTitle" aria-describedby="emailHelp">
    </div>
  
    <div class="form-group">
      <label for="controlDesciption">Descripción del servicio</label>
      <textarea class="form-control" id="controlDesciption" rows="3"></textarea>
    </div>
  
    <div class="form-group">
      <label for="controlSelectAssistance">Tipo de Asistencia</label>
      <select class="form-control" id="controlSelectAssistance">
        <option *ngFor="let asistencia of asistencias" [value]="asistencia.id">
          {{asistencia.nombre}}
        </option>
      </select>
      <small id="assistanceHelp" class="form-text text-muted">Seleccione el tipo de asistencia.</small>
    </div>
  
    <button type="submit" class="btn btn-primary btnEnviar">Enviar Solicitud</button>
  </form>
</div>