<div class="container-fluid row frame">
    
    <app-cotizar class="container cotizacion my-4 col-sm-5"></app-cotizar>
  
    <div class="container informacion my-4 col-sm-3">
        <h1>Regulaciones Covid19</h1>
        <ul>
            <li>Uso de tapaboca obligatorio</li>
            <li>Distancia de seguridad</li>
            <li>Lavado de manos</li>
        </ul>
        <p>En YoRepado estamos comprometidos con la seguridad de todos. 
            Evita desplazamientos innecesarios.</p>
             <br>
        <p>¡Es gratis! Haz una solicitud indicando lo que necesitas, 
            mientras más detalles incluyas, más fácil será encontrar 
            un profesional que se adapte a ti. </p>
    </div>
  
</div>